/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    width: 100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif ;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: underline;
}

.header {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    padding: 0px 20px;
}

.header > a > img {
    width: 130px;
}

nav {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    padding: 0px 20px;
}


nav > div:first-of-type{
    display: flex;
    gap: 20px;
    padding-right: 60px;
}

nav > div:last-of-type{
    display: flex;
    gap: 20px;

}

.main {
    width: 100%;
    display: flex;

}

.main > aside{
    padding: 10px;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    gap: 30px;
    width: 200px;
    border-right: 1px solid black;
}

.main > aside h3{
    font-size: 30px;
}

.main > aside > ul {
    display: flex;
    flex-flow: column;
    gap: 10px;
}

.main > aside button{
    background: none;
    border: none;
    text-align: start;
}

.main > aside button:hover{
    cursor: pointer;
}

.main > aside > div{
    display: flex;
    flex-flow: column;
}

.main > aside > div > button{
    color: rgb(29,129,245);
    padding: 5px;
}

.main > .container{
    max-width: 600px;
    display: flex;
    flex-flow: column;
    padding: 20px;
    font-size: 0.9rem;
    line-height: 20px;
    gap: 8px
}

.main > .container > h2 {
    font-weight: bold;
}

.logo-explanation{
    padding: 40px;
    font-family:Arial, Helvetica, sans-serif ;

}

.main > .container > img{
    width: 150px;
    padding-bottom: 50px;
}

.indexMain{
    display: flex;
    flex-flow: column;
    width: 100%;
    padding: 3%;
    gap: 20px;
}

.indexMain > h1 {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.indexMain > p {
    font-size: 20px;
    max-width: 700px;
    line-height: 25px;
}

.indexMain > p:nth-child(4) {
    padding-top: 90px;
    text-decoration: underline;
}

.indexMain > ul {
    display: flex;
    gap: 40px;
    font-size: 20px;
}